@import url("../style.css");

:root {
    --primary: rgb(50, 71, 141);
    --tertiary: rgb(29, 43, 90);
}

/* page contact */

#sectionLandingContact {   
    background-image: url("../media/about/rolunk_zsombor.jpg");
}
section {
    padding-inline: 30vw;
    padding-inline: 30svw;
}
#hamburger line {
    stroke: var(--secondary);
}
#gridContact {
    display: grid;
    grid-template-columns: 50% 50%;
}
.cardContact {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.cardContact * {
    color: var(--secondary);
    color: var(--primary);
}
.cardContact p {
    padding-bottom: 5px;
}
.cardContact img {
    max-width: 20vh;
    max-width: 20svh;
    max-height: 20vh;
    max-height: 20svh;
    border-radius: 50%;
}
details p {
    text-align: justify;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    :root {
        --font-size-h1: 20vw;
    }
    section {
        padding-inline: var(--inline-padding);
    }
    #gridContact {
        grid-template-columns: auto;
    }    
}
@media screen and (max-width: 768px) {
    #hamburger line:hover {
        stroke: var(--secondary);
    }    
    nav a {
        background-color: var(--primary);
        padding-inline: 1rem;  
    }
}